body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  header, footer {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    color: #ffffff;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  
  h1, h2, h3 {
    color: #ffffff;
  }
  
  button {
    background-color: #1e90ff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #ffffff;
  }
  
  .collapsible {
    background-color: #ffffff;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  